<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Products</h1>
    <%=  list[0].name %>
    <ul>
        <% list.forEach(element => { %>
            <% if (element.price>30000 && element.isActive==true) { %>
                <a href="/products/<%= element.id %>">
                    <li><%= element.name %> - <%= element.price %></li>   
                </a>
     
            <% } %>
        <% }) %>
    
    </ul>
</body>
</html>


//EJS şablon motoru, içinde yazdığınız JavaScript kodlarının HTML çıktısına dönüştürülmesi gerektiği yerleri bilmek için bu işaretleri kullanır. <% başlangıçtır, %> ise kod bloğunun sonudur. <%= ... %> çıktıyı HTML'e aktarır. Bu iki işaret arasındaki JavaScript kodu, işlem yapar ancak HTML'e yazılmaz.